.thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    border: 2px solid black;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.thumbnail img:hover {
    cursor: pointer;
}