@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Karla');

.PhotoContainer {
    text-align: center;
    background-image: url(../assets/cloudy-day.png);
    background-repeat: repeat;
    padding-bottom: 50px;
}

.PuppiesAnnouncement {
    text-align: center;
    font-family: 'Bree Serif', serif;
    width: 50%;
    margin-left: 25%;
    padding: 30px 0;
}